body{
    padding: 1px;

}

h1 {
    font-size: 42px;
    margin-right: 10px;
    font-weight: 850;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;

}



.imglogo{
    padding-bottom: 5px;
    padding-top: 1px;
}

 .nav-item:hover .nav-link {
    
    background-color: #ffffff;
    color: rgb(0, 0, 0); /* Cambia el color del texto al pasar el mouse */
  }
  .nav-link {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }  

 

.fondoBienv{
  margin-top: 2px;
  background-image: url(https://cdn.pixabay.com/photo/2016/10/22/17/46/mountains-1761292_640.jpg);
  background-size: cover;

  height: 470px;
  align-items: center;

 
}


.cardBlur{
  min-height: 50;
  min-width: 100;
  border: 3px solid #fafafa10;
  border-radius: 1rem;
  padding: 5px;
  background: #fafafa10;
  backdrop-filter: blur(0.9 rem);
}

.efectoblur{
  background-color: bisque;
}


.pBienv{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: #000000;

}

.ttlBienv{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color: #ffffff;
}

